#contact_modal, #lightbox_modal  {
    display: none;
}

.photograph-header .contact_button, .photograph-header .infos-photographer, .photograph-header .img-photographer{
    margin: auto;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}


.medias-photograph{
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 150px;
}

.medias-photograph img, .medias-photograph video{
    width: 100%;
    height: 275px;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.medias-photograph .infos-media{
    display: flex;
    justify-content: space-between;
    color : #901C1C;
}

.medias-photograph .title-media, .medias-photograph .likes{
    font-size: 22px;
}

.medias-photograph .likes-media{
    display: flex;
}

.medias-photograph .likes-media i{
    margin: auto;
    margin-left: 0.5rem;
}

#likes-price{
    position: fixed;
    bottom: 0;
    background-color: #D3573C;
    right: 5vh;
    display: flex;
    gap: 3rem;
    padding: 1rem 2rem;
    width: auto;
    font-weight: 400;
}

#likes-price i{
    margin-left: 0.5rem;
}